DATABASE_URL=postgresql+psycopg://postgres:vellbull16@localhost:5432/hrms_db

SECRET_KEY= PwcaL1-VW8l7dyPFgR82cutGIEreOslkLTocn_L5thk
#randomly generate in cmd via : python -c "import secrets; print(secrets.token_urlsafe(32))"

